:root {
  --main-bg-color: #eff5fe;
  --border-color: #0288d147;
  --container-width: 500px;
}
body,
html {
  font-style: system-ui;
  background-color: #eededb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23499dff'/%3E%3Cstop offset='1' stop-color='%23eededb'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%239cbeed'/%3E%3Cstop offset='1' stop-color='%23eededb'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.image{
  border-radius: 5px;
  width: 15%;
  height: 15%;
  position: relative;
  left:2%;
  top:15%;
}
.para{
  padding-left: 10px;
  padding-right: 10px;
  font-size: large;
  position: relative;
  top: 3%;
  font-family: 'Times New Roman', Times, serif;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
 
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: transparent;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 24px;
  color:white;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  border:none;
}

.openbtn:hover {
  background-color:transparent;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.hidden{
  display: none;
}
.loading {
  top: 200 px;
  margin: auto;
  position: absolute;
  z-index: 1000;
  width: 160px;
  height: 24px;
  background: url(loadingimage.gif) no-repeat;
  cursor: wait;
  }
  
.section-container,
.drop-zone,
.upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

.upload-container {
  background: #fff;
  border-radius: 10px;
  box-shadow: -5px 9px 14px 2px #00000021;
}
.upload-container .title {
  font-size: 22px;
}

.drop-zone {
  width: var(--container-width);
  min-height: 200px;
  border: 2px dashed var(--border-color);
  background: #fff;
  margin: 20px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.icon-container {
  width: 75px;
  height: 100px;
  position: relative;
}
.loading {
  width: 35px;
  height: 35px;
  display: none;
  background: url("../static/ajax-loader.gif") no-repeat;
  cursor: wait;
}
.icon-container img {
  width: 75px;
  position: absolute;
  transform-origin: bottom;
  transition: transform 0.25s ease-in-out;
}

.icon-container .center {
  z-index: 2;
}

.icon-container .right,
.icon-container .left {
  transform: scale(0.9);
  filter: opacity(0.6);
}

.dragged.drop-zone {
  background: var(--main-bg-color);
  border-color: #0000ff;
}

.dragged .icon-container .right {
  transform: rotate(10deg) translateX(20px) scale(0.9);
}

.dragged .icon-container .left {
  transform: rotate(-10deg) translateX(-20px) scale(0.9);
}

.dragged .icon-container .center {
  transform: translateY(-5px);
}

#file-input {
  display: none;
}

.browseBtn {
  color: #0000ff;
  cursor: pointer;
}
.progress-label-left {
  float: left;
  position: absolute;
  top:72%;
  left:22%;
  color: red;
}
.progress-label-right {
  float: right;
  position: absolute;
  top: 72%;
  left:77%;
  color:green;
}

 /* style rules */

.AnalyzeBtn{
  width: 150px;
  height: 60px;
  border-radius: 10px;
  color: #eededb;
  background-color: #0e5ef3;
  position: absolute;
  top: 560px;
  left: 600px;
}
.process{
  position: absolute;
   left:44%;
   visibility: visible; 
}
.cover{
  width:27%;
  height:35%; 
  color:rgb(0, 2, 3);
   border-style: solid; 
  position:absolute;
  top:10%;
  left:17%;
   border-width:1px;
  border-radius: 10px; 
}
.video-container {
  display: none;
  height: 300px;
  width: 500px;
  border-radius: 10px;
  top:30%;
  left:40%;
}
.progress-bar-label{
  position: absolute;
  top:545px;
  left:650px;
}
progress{
  width: 50%; 
  margin: 50px; 
  position: absolute; 
  top: 430px;
  left: 310px; 
  border-radius: 8px;
}
.progress-50{
  color: red; 
}
.progress-100 {
  color: green; 
}
.upload-vector {
  background: url('./bg-upload.svg') no-repeat;
  background-size: contain;
  width: 30vw;
  height: 50vh;
}

@media screen and (max-width: 900px) {
  :root {
    --container-width: 320px;
  }
  .upload-vector {
    display: none;
  }
}
